#about-me {
  height: 100vh;
  width: 100%;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    flex-direction: column;
  }
  .about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #about-me p {
    color: var(--gray);
    width: 600px;
    text-align: justify;

 
  }
  #about-me img {
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    border-left: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
  }
  @media only screen and (max-width: 480px) {
    .about-me-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }