
#footer {
    max-width: inherit;
    width: 100%;
    border-top: 1px solid var(--gray);
    padding-top: 32px;
    padding-bottom: 32px;  
  }
  .footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
  
  @media only screen and (max-width: 480px) {
    .footer-content {
      position: relative;
      flex-direction: column;
      align-items: center;
    }
  }