#home {
    align-items: start;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 64px;
  }
  .home h1 {
    font-size: 2em;
  }  
  .profile-container{
    width: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;  
    margin-top: 64px; 
  }
  .profile-title span {
    color: var(--primary);
  }
  .profile-container img {
    border: 1px solid var(--gray);
  }
  .profile-description {
    color: var(--gray);
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .button-cv {
    text-decoration: none;  
    font-size: 1.6em;
    color: var(--white);
    background-color: transparent;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--primary);
  }
  .button-cv:hover {
    background-color: hsl(0, 60%, 65%,0.3);
    
  }

  .social-media {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .social-media ul{
    list-style: none;
    color: var(--primary);
    display: flex;
    gap: 12px;
  }
  .social-media i {
    color: var(--gray);
    font-size: 1.5em;
  }
  .social-media i:hover {
    color: var(--white);
  }

  @media only screen and (max-width: 768px) {
    #home {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 0px;
    }
    .profile-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;

    }
    .profile-container img {
      height: 100%;
      border-left: 0px solid;
      border-right: 0px;
      height: 350px;
    }
    .profile {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .button-cv {
      margin: 0 auto;
      display: block;
    }
    .profile p {
      margin: 20px;
    } 
  }
