:root {
  --primary: hsl(0, 100%, 61%);
  --gray: hsl(219 14% 71%);
  --background: hsl(218 12% 18%);
  --white: hsl(0 0% 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}
body {
  background-color: var(--background);
  color: var(--white);
  font-size: 16px; 
}
.content-container{
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 112px;
}
.section-title {
  font-size: 2em;
  margin-bottom: 48px;
  position: relative;
}
.section-title::before{
  content: "#";
  color: var(--primary);
}
.section-title::after {
  content: " {";
    color: var(--primary);
} 
.section::after {
  margin-top: 24px;
  margin-bottom: 24px;
  content: " };";
  color: var(--primary);
  font-size: 2em;
  font-weight: bold;
  display: relative;
}

.margin {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    bottom: 0;
  }
}








